.add-btn{
    width: min-content;
    margin-left: 20px;
}
.calendar{

    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 0px;
    padding-top: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
}


  
  